html,
body {
  font-size: 14px;
  width: 100%;
  height: 100%;
  font-family: Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
span {
  display: inline-block;
}
input,
textarea {
  display: inline-block;
  box-sizing: border-box;
  padding: 1px 15px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
}
input {
  line-height: 31px;
}
textarea {
  padding: 15px;
  resize: none;
  overflow: scroll-y;
}
input:focus,
textarea:focus {
  -webkit-transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -ms-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  border: #8bd8ff solid 1px;
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #0f7bb1;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #0f7bb1;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #0f7bb1;
}
.head {
  width: 100%;
  height: 57px;
  line-height: 57px;
  background: #3083eb;
}
.head a:visited {
  color: #b0d3ff;
}
.head li {
  float: right;
  font-size: 14px;
  color: #b0d3ff;
  margin-right: 20px;
}
.head .logo {
  float: left;
  font-size: 24px;
  margin-left: 20px;
  color: #fff;
}
.container {
  overflow: hidden;
  width: 1174px;
  height: 706px;
  margin: 0 auto;
  background-color: #e3f0fc;
}
.container a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 233px;
  height: 35px;
  border-radius: 5px;
  background-color: #fff;
}
.container a:hover {
  background: #83c1e0;
}
.container .data-name {
  margin-top: 45px;
  margin-left: 16px;
}
.container .area input {
  margin-left: 38px;
}
.container .title {
  font-size: 14px;
}
.container .name {
  width: 233px;
  height: 35px;
  margin-left: 10px;
}
.container .info {
  width: 518px;
  height: 146px;
  margin-left: 38px;
}
.container .sp-intro {
  position: relative;
  margin-top: 15px;
  margin-left: 16px;
}
.container .sp-intro .title {
  position: relative;
  bottom: 100px;
}
.container .select {
  position: relative;
  box-sizing: border-box;
  height: 35px;
  margin-top: 15px;
  margin-left: 16px;
}
.container .select .title {
  position: relative;
  top: 10px;
}
.container .select img {
  position: absolute;
  top: 14px;
  right: 7px;
  width: 11px;
  height: 7px;
}
.container .choose {
  line-height: 35px;
  position: absolute;
  z-index: 99;
  display: inline-block;
  box-sizing: border-box;
  width: 233px;
  height: 35px;
  margin-left: 10px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
}
.container .choose option {
  width: 100%;
  height: 100%;
  padding: 0 0;
}
.container .choose .add {
  position: absolute;
  padding: 0 15px;
}
.container .choose .show {
  display: none;
  border-radius: 5px;
  background-color: #fff;
  z-index: 99;
}
.container .choose .show div {
  box-sizing: border-box;
  padding: 0 15px;
  border: 1px solid #2E6DA4;
  border-radius: 5px;
}
.container .choose .show div + div {
  margin-top: 1px;
}
.container .area {
  margin-top: 15px;
}
.container .more-info {
  box-sizing: border-box;
  width: 100%;
  margin-top: 25px;
  border: 1px solid #2e6da4;
  border-radius: 5px;
}
.container .more-info .clear {
  clear: both;
}
.container .box {
  position: relative;
  display: inline-block;
  float: left;
}
.container .box #sorry {
  width: 100px;
  color: #ff0000;
  position: absolute;
  left: 20px;
}
.container .box .word-name {
  margin-left: 16px;
}
.container .box .word-name .name {
  width: 164px;
}
.container .box .another-select {
  margin-top: 0;
}
.container .box .another-select .choose {
  width: 164px;
}
.container .box .another-select .choose-spe {
  margin-left: 24px;
}
.container .box .addmore {
  width: 54px;
  height: 34px;
  margin-left: 15px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
}
.container .first {
  margin-left: 10px;
}
.container .up-package {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 35px;
  line-height: 35px;
  margin-left: 30px;
}
.container .up-package button {
  width: 54px;
  height: 35px;
  line-height: 29px;
  padding: 2px 6px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  margin-left: 253px;
}
.container .up-package a {
  position: absolute;
  z-index: 0;
  margin-left: 10px;
  border: 1px solid #c2c2c2;
}
.container .up-package a div {
  line-height: 35px;
  position: absolute;
  z-index: 0;
  margin-left: 75px;
  text-align: center;
}
.container .up-package .file {
  z-index: 20;
  width: 233px;
  height: 35px;
  opacity: 0;
  background-color: #fff;
  filter: alpha(opacity=0);
}
.container .up-package form {
  display: inline-block;
  margin-left: 10px;
}
.container .public {
  margin-top: 25px;
  margin-left: 16px;
}
.container .upload-box {
  float: left;
  position: relative;
  left: 50%;
}
.container .upload-box button {
  padding: 12px 16px;
  position: relative;
  left: -50%;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  background-color: #fff;
}
